hardware/altium/__Previews/

hardware/altium/History/

hardware/altium/Project Logs for retroBreadboard_v1i1/

software/SchemaBoard_firmware/\.vscode/

software/SchemaBoard_server/node_modules/

software/SchemaBoard_simulator/build-tmp/

software/SchemaBoard_unity/Library/PlayerDataCache/
